<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Браслет в технике микромакраме</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
   <div class="container">
       <header>
           <div id="logo">
    	    	<img src="./img/logo.jpg" alt="Логотип">
           </div>
            <ul class="menu">
                <li><a href="../index.html"><span class="lnr lnr-home"></span> Главная страница</a></li>
                <li><a href="Catalogue.html"><span class="lnr lnr-book"></span> Каталог</a></li>
                <li><a href="../Contacts.html"><span class="lnr lnr-phone"></span> Контакты</a></li>
            </ul>
        </header>
        <hr>
        <main>
            <h1>Описание товара</h1>
            <p>Широкий браслет с бусинами</p>
            <br>
            <h2>Характеристики товара</h2>
            <ul class="product_characteristics">
                <li><b>Ширина: 2.5 см</b></li>
                <li><b>Размер регулируется</b></li>
                <li>Вощеная нить, производство Италия</li>
                <li>Цвета нитей и бусин в ассортименте</li>
            </ul>
            <br>
            <h3>Подробное описание товара</h3>
            <p>
                <a href="../Catalogue/img/Wide bracelet with beads.jpg" target="_blank"><img src="../Catalogue/img/Wide bracelet with beads.jpg" alt="Широкий браслет с бусинами" width="300"></a><br>
            </p>
            
            <table>
                <tr>
                    <td>Ширина:</td>
                    <td>2.5 см</td>
                </tr>
                <tr>
                    <td>Высота:</td>
                    <td>регулируется</td>
                </tr>
                <tr>
                    <td>Цвет:</td>
                    <td>на Ваш выбор</td>
                </tr>
            </table>
            <div class="Empty"></div>
        </main>
        <footer>
            <hr>
            <p>&copy; Все права защищены</p>
        </footer>
   </div>
</body>
</html>