<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/mainapp/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div id="logo">
                <img src="/static/mainapp/img/logo.jpg" alt="Логотип" width="100">
            </div>
            <ul class="menu">
                <li><a href="/main/"><span class="lnr lnr-home"></span> Главная страница</a></li>
                <li><a href="/products/"><span class="lnr lnr-book"></span> Каталог</a></li>
                <li><a href="/main/contacts/"><span class="lnr lnr-phone"></span> Контакты</a></li>
            </ul>
        </header>
        <hr>
        <main>
            {% block page_content %}
            {% endblock %}
        </main>
        <footer>
            <hr>
    	    <p>&copy; Все права защищены</p>
        </footer>
    </div>
</body>
</html>