<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <div class="container">
        <header>
           <div id="logo">
               <img src="./img/logo.jpg" alt="Логотип" width="100">
           </div>
            <ul class="menu">
                <li><a href="../index.html"><span class="lnr lnr-home"></span> Главная страница</a></li>
                <li><a href="#"><span class="lnr lnr-book"></span> Каталог</a></li>
                <li><a href="../Contacts.html"><span class="lnr lnr-phone"></span> Контакты</a></li>
            </ul>
        </header>
        <hr>
        <main>
            <h3>Каталог изделий:</h3>
            <div class="items">
            	<div class="item">
            		<img src="./img/Wide bracelet with beads.jpg" alt="Широкий браслет с бусинами" width="200">
            		<br>
            		<a href="Wide bracelet with beads.html">Широкий браслет с бусинами</a>
            	</div>
            	<div class="item">
            		<img src="./img/Wide bracelet with agate.jpg" alt="Широкий браслет с агатом" width="200">
            		<br>
            		<a href="Wide bracelet with agate.html">Широкий браслет с агатом</a>
            	</div>
            </div>
            <div class="Empty"></div>
        </main>
        <footer>
            <hr>
            <p>&copy; Все права защищены</p>
        </footer>
    </div>  
</body>
</html>