{% extends 'master.html' %}


{% block page_title %}
    Главная страница
{% endblock %}


{% block page_content %}
	<h3>Напишите нам:</h3>
	<br>
	<form action="/main/contacts/">
		<input type="text" placeholder="имя"><br>
		<input type="email" placeholder="email"><br>
		<input type="text" placeholder="тема"><br>
		<textarea cols="50" rows="10">Ваш текст</textarea><br>
		<input type="submit" value="Отправить">
	</form>
	<br>
	<h3>Наши контакты:</h3>
	<br>
	<ul class="Contacts">
		{% for item in contacts %}
		<li>
			{{ item }}
		</li>
		{% endfor %}
	</ul>
	<div class="Empty"></div>
{% endblock %}
