<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Контакты</title>
	<link rel="stylesheet" href="/static/mainapp/css/style.css">
</head>
<body>
	<div class="container">
	    <header>
	        <div id="logo">
	            <img src="/static/mainapp/img/logo.jpg" alt="Логотип">
	        </div>
	    	<ul class="menu">
	    		<li><a href="/main/"><span class="lnr lnr-home"></span> Главная страница</a></li>
	    		<li><a href="/main/catalogue/"><span class="lnr lnr-book"></span> Каталог</a></li>
	    		<li><a href="/main/contacts/"><span class="lnr lnr-phone"></span> Контакты</a></li>
	    	</ul>
	    </header>
        <hr>
        <main>
	        <h3>Напишите нам:</h3>
	        <br>
	        <form action="Contacts.html">
	        		<input type="text" placeholder="имя"><br>
	        		<input type="email" placeholder="email"><br>
	        		<input type="text" placeholder="тема"><br>
	        		<textarea cols="50" rows="10">Ваш текст</textarea><br>
	        		<input type="submit" value="Отправить">
	        </form>
            <br>
	        <h3>Наши контакты:</h3>
	        <br>
	        <ul class="Contacts">
	        	<li>Телефон: {{ phone }}</li>
	        	<li>Адрес: {{ address }}</li>
	        	<li>Почта: {{ mail }}</li>
	        </ul>
	        <div class="Empty"></div>
        </main>
        <footer>
            <hr>
            <p>&copy; Все права защищены</p>
        </footer>
    </div>
</body>
</html>